extends ../layout/page.pug

block content
  form(role = 'form' method = 'GET' action = '/courses')
    input(type = 'search', placeholder = 'название курса', name = 'term', value = term)
    input(type = 'search', placeholder = 'описание курса', name = 'description', value = description)
    input(type = 'submit' value = 'search')
    table.table.table-striped
        tr
          th Название курса
          th Описание курса
        each course in courses
          tr
            td= course.coursename
            td= course.description