html
  head
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    title My site

  body
    block header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        div.navbar
          li.nav-item.active
            a(href='/') Главная
        div.navbar
          li.nav-item.active
            a(href=route('users')) Пользователи
        div.navbar
          li.nav-item.active
            a(href=route('courses')) Курсы

    if messages
      if messages.success
        for message in messages.success
          .alert(class=`alert-${message.type}`)
            = message.message

      if messages.error
        for message in messages.error
          .alert(class=`alert-${message.type}`)
            = message.message

    block content
    block foot
  #footer.text-center.text-lg-start.bg-light.text-muted
    div.text-center.p-4
      a(href="https://github.com/Skryam") My github